/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .dropdown-content {
        width: 50%;
        font-size: 12px;
    }

    .dropdown-content a {
        padding: 0 8px;
    }

    .dropdown img {
        display: none;
    }
}

@media all and (max-width: 670px) {
    .header-right {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: not-allowed;
    }
}